In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
from google.colab import files
  
  
uploaded = files.upload()

Saving IMDB Dataset.csv to IMDB Dataset.csv

In [ ]:
df = pd.read_csv("IMDB Dataset.csv")

In [ ]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

**Text Cleaning**
1. Sample 1000 rows
2. Remove html tags
3. Remove special characters
4. Converting every thing to lower case
5. Removing Stop words
6. Stemming

In [ ]:
df=df.sample(1000)

In [ ]:
df.shape

(1000, 2)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 41303 to 38929
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     1000 non-null   object
 1   sentiment  1000 non-null   object
dtypes: object(2)
memory usage: 23.4+ KB

In [ ]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [ ]:
df.head()

                                                  review  sentiment
41303  'Arms and the Man' is one of Shaw's funniest p...          1
30714  "Absolute Beginners" was a film for the younge...          0
42852  Gender Bender sexes things up a bit for the x-...          1
1641   Even MST3K couldn't make this painful, long, a...          0
15486  It's not well shot, well written or well acted...          1

In [ ]:
import re
clean = re.compile('<.*?>')
re.sub(clean, '', df.iloc[2].review)

'Gender Bender sexes things up a bit for the x-files. This episode has an interesting premise, a good story, but an ending that is wanting. Gender Bender is also the x-files debut for actor Nicholas Lea, better known as Alex Krycek. In this episode he plays Michael, a man attacked by one of "The Kindred". You need to see this episode just to see Nic Lea\'s less than spectacular beginning. An interesting thing about the Kindred\'s "power of seduction". When Marty does it to his victims, they become turned onto him/her. However, when Andrew seduces Scully, she only because disoriented and groggy, and does not become attracted to Andrew. Maybe it\'s because Marty has more experience at it than Andrew. This episode reminds me of why it would sometimes be miserable to film up in British Columbia. Throughout the episode it is so wet, soggy, and muddy, it could not have been that much fun. Despite the disappointing ending, Gender Bender is still a decent episode to view.'

In [ ]:
# Function to clean html tags

def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [ ]:
df['review']=df['review'].apply(clean_html)

In [ ]:
# Converting everything to lower


def convert_lower(text):
    return text.lower()

In [ ]:
df['review']=df['review'].apply(convert_lower)

In [ ]:
# Function to remove special characters


def remove_special(text):
    x=''
    
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x + ' '
    return x

In [ ]:
remove_special(' th%e @ classic use of the word.it is called oz as that is the nickname given to the oswald maximum security state penitentary. it focuses mainly on emerald city, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. em city is home to many..aryans, muslims, gangstas, latinos, christians, italians, irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.i would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare. forget pretty pictures painted for mainstream audiences, f')

' th e   classic use of the word it is called oz as that is the nickname given to the oswald maximum security state penitentary  it focuses mainly on emerald city  an experimental section of the prison where all the cells have glass fronts and face inwards  so privacy is not high on the agenda  em city is home to many  aryans  muslims  gangstas  latinos  christians  italians  irish and more    so scuffles  death stares  dodgy dealings and shady agreements are never far away i would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare  forget pretty pictures painted for mainstream audiences  f'

In [ ]:
df['review']=df['review'].apply(remove_special)

In [ ]:
# Removing the stop words

import nltk

In [ ]:
from nltk.corpus import stopwords

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
df

                                                  review  sentiment
41303   arms and the man  is one of shaw s funniest p...          1
30714   absolute beginners  was a film for the younge...          0
42852  gender bender sexes things up a bit for the x ...          1
1641   even mst3k couldn t make this painful  long  a...          0
15486  it s not well shot  well written or well acted...          1
...                                                  ...        ...
34856   national lampoon goes to the movies   1981  i...          0
24240  a scientific experiment designed to create a s...          0
389     crossfire  is a justifiably famous 1947 noir ...          1
46901  victor jory never became a major star  he is b...          0
38929  st  elmo s fire has no bearing on life after u...          0

[1000 rows x 2 columns]

In [ ]:
# Function to remove stop words

def remove_stopwords(text):
    x=[]
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [ ]:
df['review']=df['review'].apply(remove_stopwords)

In [ ]:
df

                                                  review  sentiment
41303  [arms, man, one, shaw, funniest, plays, handle...          1
30714  [absolute, beginners, film, younger, generatio...          0
42852  [gender, bender, sexes, things, bit, x, files,...          1
1641   [even, mst3k, make, painful, long, ultimately,...          0
15486  [well, shot, well, written, well, acted, addic...          1
...                                                  ...        ...
34856  [national, lampoon, goes, movies, 1981, absolu...          0
24240  [scientific, experiment, designed, create, sup...          0
389    [crossfire, justifiably, famous, 1947, noir, m...          1
46901  [victor, jory, never, became, major, star, bet...          0
38929  [st, elmo, fire, bearing, life, university, ma...          0

[1000 rows x 2 columns]

In [ ]:
# Performing stemming

from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [ ]:
# Function to perform stemming

y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [ ]:
# Test case to see the working of stemming  

stem_words(['I','loved','loving','it'])

['I', 'love', 'love', 'it']

In [ ]:
df['review']=df['review'].apply(stem_words)

In [ ]:
df

                                                  review  sentiment
41303  [arm, man, one, shaw, funniest, play, handl, c...          1
30714  [absolut, beginn, film, younger, gener, multi,...          0
42852  [gender, bender, sex, thing, bit, x, file, epi...          1
1641   [even, mst3k, make, pain, long, ultim, mind, b...          0
15486  [well, shot, well, written, well, act, addict,...          1
...                                                  ...        ...
34856  [nation, lampoon, goe, movi, 1981, absolut, wo...          0
24240  [scientif, experi, design, creat, superhuman, ...          0
389    [crossfir, justifi, famou, 1947, noir, murder,...          1
46901  [victor, jori, never, becam, major, star, bett...          0
38929  [st, elmo, fire, bear, life, univers, major, u...          0

[1000 rows x 2 columns]

In [ ]:
# Join back

def join_back(list_input):
    return " ".join(list_input)

In [ ]:
df['review']=df['review'].apply(join_back)

In [ ]:
df['review']

25796    first absolut flirt go film anthoni anyon els ...
21336    guess entir filmmak fault though film suffer u...
39252    jaw rip trashiest italian genr director joe am...
12957    take movi serious plot predict trite act often...
5781     read everi major book manhattan project peopl ...
                               ...
2726     lie tell affair 18 year old bucktooth femal st...
46747    dreari pointless bit fluff bloodi fluff fluff ...
16874    clock five season small screen 1976 79 georg m...
16387    brilliant well made contribut group fan consid...
36196    film complic friendship romanc deceit two men ...
Name: review, Length: 1000, dtype: object

In [ ]:
X=df.iloc[:,0:1].values

In [ ]:
X.shape

(1000, 1)

In [ ]:



from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1000)

In [ ]:
X=cv.fit_transform(df['review']).toarray()

In [ ]:
X.shape

(1000, 1000)

In [ ]:
X[0].mean()

0.064

In [ ]:
y=df.iloc[:,-1].values

In [ ]:
y.shape

(1000,)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [ ]:
X_train.shape

(800, 1000)

In [ ]:
X_test.shape

(200, 1000)

In [ ]:
y_train.shape

(800,)

In [ ]:
y_test.shape

(200,)

In [ ]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [ ]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [ ]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [ ]:
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [ ]:
y_test.shape

(200,)

In [ ]:
y_pred1.shape

(200,)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("Bernaulli",accuracy_score(y_test,y_pred3))

Gaussian 0.655
Multinomial 0.76
Bernaulli 0.805